<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Judge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    {% if problem %}
        <p>{{ problem.name }}</p>
        <p>{{ problem.statement }}</p>
        <ul>
        <form method="post" action="/home/{{problem.id}}/results/">
            {% csrf_token %}
            <div class="mb-3">
                <label for="textarea" class="form-label">Submit your code</label>
                <textarea class="form-control" id="desc" name="code" rows="16"></textarea>
            </div>
            <button class="btn btn-dark" type="submit">Submit</button>
        </form>
        <a href="/home/{{ problem.id }}/leaderboard">Leaderboard</a>
    {% else %}
        <p>No question is available.</p>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>